<span
  class="auth-ambient__blob auth-ambient__blob--lavender auth-ambient__blob--drift-1 left-[14.4%] top-[39.7%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--lime auth-ambient__blob--drift-2 left-[66.2%] top-[47.3%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--lime auth-ambient__blob--drift-3 left-[74.1%] top-[19.4%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--lime auth-ambient__blob--drift-4 left-[5.7%] top-[50.1%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--coral auth-ambient__blob--drift-5 left-[74.1%] top-[56%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--coral auth-ambient__blob--drift-6 left-[87.3%] top-[28.3%]"
></span>
<span
  class="auth-ambient__blob auth-ambient__blob--primary auth-ambient__blob--drift-7 left-[43.4%] top-[17.6%]"
></span>
