<div
  class="relative flex h-[55px] w-full items-center rounded-sm border border-[rgba(229,225,228,0.2)] bg-surface-container-low transition-[background-color,border-color,box-shadow] duration-150 focus-within:border-primary focus-within:bg-surface-container-lowest focus-within:ring-[3px] focus-within:ring-primary/12"
>
  <intl-tel-input
    class="block h-full w-full"
    containerClass="freegency-phone"
    [ngModel]="value()"
    (ngModelChange)="value.set($event)"
    [initialCountry]="initialCountry()"
    [loadUtils]="loadUtils"
    [dropdownParent]="dropdownParent"
    [formatAsYouType]="true"
    [separateDialCode]="true"
    [strictMode]="true"
    [countrySearch]="true"
    [inputAttributes]="{ id: inputId(), name: inputId(), autocomplete: 'tel' }"
    (validityChange)="validityChange.emit($event)"
  />
</div>
